h5py
numpy
scipy
#six==1.11.*
six
git+https://github.com/google/qkeras.git
grpcio==1.46.0
hls4ml

# Minimal package to use dcase2020 task2 baseline.
matplotlib
PyYAML
scikit-learn
librosa
audioread
setuptools
tqdm
numba

#keyword spotting
tensorflow_datasets
urllib3
pydub
#tensorflow-gpu